<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RSA</title>
</head>
<body>
<h1>RSA - Should not be visible</h1>
<script type="text/javascript">
    const ipc = require('electron').ipcRenderer;

    // Checks when the DOM is ready
    function ready(fn) {
        if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }
    // Ready, tell the main process
    ready(() => {
        ipc.send('rsa.ready');
    });
</script>

</body>
</html>
