<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>e-Text - Loading</title>

    <style>
        html, body {
            background-color: #000000;
            color: #FFFFFF;
            font-family: 'Raleway', sans-serif;
            height: 100vh;
            margin: 0;
        }

        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }

        p {
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }

        .title {
            font-weight: bold;
            font-size: 45px;
        }

        .loader {
            margin: 0 auto;
            border-radius: 50%;
            border: 5px solid blue;
            border-right-color: green;
            border-bottom-color: red;
            border-left-color: yellow;
            width: 25px;
            height: 25px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

    </style>
</head>
<body>

<div class="centered">
    <div class="title m-b-md">
        <p class="title">
            E-Text
        </p>
        <div class="loader"></div>
    </div>
</div>

<script type="text/javascript">
    const ipc = require('electron').ipcRenderer;

    // eslint-disable-next-line no-unused-vars
    ipc.on('loading-finished', (event) => {
        //@TODO: What here?
        console.log('Loaded');
    });

    // Checks when the DOM is ready
    function ready(fn) {
        if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }

    // Ready, tell the main process
    ready(() => {
        ipc.send('splash-screen.ready');
    });
</script>

</body>
</html>
